[submodule ".themes/justin-kelly-theme"]
	path = .themes/justin-kelly-theme
	url = https://github.com/wallace/justin-kelly-theme.git
[submodule "public"]
	path = public
	url = git@github.com:elcodi-blog/elcodi-blog.github.io.git
